extends ../layout

block content
	.container
		.row
			form.form-horizontal(method = "post", action = "/admin/shop/new")
				.form-group
					label.col-sm-2.control-label(for = "inputTitle") GoodsName
					.col-sm-10
						input#inputTitle.col-sm-10.form-control(type = "text", name = "commodity[title]", value = commodity.title)
				.form-group
					label.col-sm-2.control-label(for="inputOrign") Orign
					.col-sm-10
						input#inputOrign.col-sm-10.form-control(type="text",name="commodity[orign]" value = commodity.orign)
				.form-group
					label.col-sm-2.control-label(for="inputYear") Year
					.col-sm-10
						input#inputOrign.col-sm-10.form-control(type="text",name="commodity[year]" value = commodity.year)
				.form-group
					label.col-sm-2.control-label(for="inputFlash") FlashURL
					.col-sm-10
						input#inputFlash.col-sm-10.form-control(type = "text",name = "commodity[flash]" value = commodity.flash)
				.form-group
					label.col-sm-2.control-label(for="inputPoster") PosterPath
					.col-sm-10
						input#inputPoster.col-sm-10.form-control(type="text",name="commodity[poster]" value=commodity.poster)
				.form-group
					label.col-sm-2.control-label(for="uploadPoster") PosterUpload
					.col-sm-10
						input#uploadPoster(type="file",name="uploadPoster")
				.form-group
					label.col-sm-2.control-label(for="inputSummary") Summary
					.col-sm-10
						input#inputSummary.col-sm-10.form-control(type="textarea" name="commodity[summary]" value=commodity.summary)
				.form-actions
					button(type='submit',style='float:right' class='btn btn-primary') Submit