doctype
html
	head
		meta(charset="utf-8")
		title #{title}
		link(href = "/bootstrap/dist/css/bootstrap.min.css", rel = "stylesheet")
		script(src = "/jquery/dist/jquery.min.js")
		script(src = "/bootstrap/dist/js/bootstrap.min.js")
		script(type = "text/javascript").
			$(function () {
			// 商品+-
				$('.li-quantity a').click(function(){
					var self = $(this);
					var type = self.attr('data-type'),
						num = parseFloat(self.siblings('input').val());
					if(type == 'add'){
						num += 1;
					}else if(type == 'subtr'){
						if(num > 1){
							num -= 1;
						}else{
							return false;
						}
					}
					self.siblings('input').val(num);
					tamount();
				});
				//checkbox 单选事件
				$('input[name="chkItem"]:checkbox').click(function(){
					var isCheck = $('input[name="chkItem"]:not(:checked)').length? false: true;
					$('#CheckAll').prop("checked", isCheck);
						tamount();
				});
				//checkbox 全选事件
				$('#CheckAll').click(function(){
					var self = $(this);
					$('input[name="chkItem"]').each(function(){
						$(this).prop("checked",self.is(':checked'));
					});
					tamount();
				});
			});
			var sum = 0;
			function Clearing() {
				$('input[name= "chkItem"] : checked').each(function(){
					var self = $(this),
					index = self.attr('data-index'),
					cid = self.attr('data-id');
					var quantity = $('#Q'+ index).val();
					var data = {"cid" : cid, "cnum" : quantity};
						$.ajax({
							url : '/cart/clearing',
							type : 'post',
							data : data,
							success:function(data,status){
							},
							error:function(data,status){
							}
						});
					});
					alert('￥'+sum);
					location.href = "cart";
				}
			function tamount() {
				sum = 0,
				$('input[name= "chkItem"] : checked').each( function(){
					var self = $(this),
					price = self.attr('data-price'),
					index = self.attr('data-index');
					var quantity = $('#Q'+ index).val();
					sum += (parseFloat(price)* parseFloat(quantity));
				});
				$('#money').jade('￥'+ sum +'.00')
			}
		style(type = "text/css").
			.cart-heading{
				height: 40px;
				background-color: #EFEDED;
			}
			.cart-body{
				background-color: #F7F7F7;
			}
			.cart-body ul li {
				list-style-type: none;
				margin-left: -30px;
				width: 870px;
			}
			.cart-body ul li div{
				float: left;
				height: 80px;
			}
			li-checkbox input{
				margin: 20px 5px 0 0;
			}
			.li-img a img{
				width: 40px;
				height: 50px;
			}
			.li-content{
				margin: 20px 0 0 30px;
				width: 280px;
			}
			.li-price{
				margin: 20px 0 0 60px;
				width: 100px;
			}
			.li-quantity{
				margin: 20px 0 0 130px;
				width: 100px;
			}
			.li-del{
				margin: 20px 0 0 30px;
				width: 50px;
			}
			.li-img{
				margin: 0 0 0 10px;
			}
	body
		div(style='margin:50px auto;width: 900px;')
			div
				div
					div(style='float:right;')
						a.btn.btn-xs.btn-success(href='/', style='margin-right: 35px;') 商品页
					h2 购物车
					hr
				div
					.cart-heading
						div(style='padding: 10px 0 0 10px')
							span(style='margin-right: 200px;')
								input#CheckAll(type= 'checkbox')
							span(style='margin-right: 180px;') 商品
							span(style='margin-right: 210px;') 价格
							span(style='margin-right: 80px;') 数量
							span(style='padding-right: 0px;') 操作
					.cart-body
						ul
							-var i
							for(i in carts)
								if(!carts[i].cId)
									continue
							li
								.li-checkboxs
									//- input(data-id= #{carts[i]._id}, data-index= #{i}, data-price=#{item.cPrice},name="chkItem",  class="li-checkbox input", type="checkbox")
					div(style='float: right;height: 35px;width:330px;') 总计：
						span#money(style='color: red;font-size: 25px') ￥0.00
						input.btn.btn-success(type='button', style='width: 130px; float:right;', onclick=' Clearing();', value='结算')
